# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
  name = Axel Clark
  email = axelclark2@yahoo.com
[credential]
  helper = osxkeychain
[push]
  default = matching
[alias]
  aliases = !git config -l | grep alias | cut -c 7-
  b = branch
  c = commit
  cm = commit -m
  co = checkout
  d = diff
  m = merge
  ps = push
  pso = push origin
  pl = pull
  rbi = rebase --interactive
  s = status

[core]
  autocrlf = input
  safecrlf = true
  editor = vim
	excludesfile = /Users/jackclark/.gitignore
